<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGeY1lHmHvYYJ4m0U8IE6QxZxTFQ2K2XM</string>
	<key>GCM_SENDER_ID</key>
	<string>374537395061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberDriver</string>
	<key>PROJECT_ID</key>
	<string>uber-7a87b</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-7a87b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374537395061:ios:7c82f7295944aee824913c</string>
	<key>DATABASE_URL</key>
	<string>https://uber-7a87b-default-rtdb.firebaseio.com</string>
</dict>
</plist>